@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes rotateDown {
    from { transform: rotate(0); }
    to { transform: rotate(180deg); }
}

@keyframes rotateUp {
    from { transform: rotate(180deg); }
    to { transform: rotate(0); }
}

@keyframes welcomeUp {
    0% { transform: translateY(500px); }
    70% { transform: translateY(-3px); }
    100% { transform: translateY(0); }
}

@keyframes welcomeDown {
    0% { transform: translateY(0); }
    30% { transform: translateY(-3px); }
    100% { transform: translateY(500px); }
}

@keyframes welcomeIn {
    0% { transform: translateX(-120%); }
    70% { transform: translateX(3px); }
    100% { transform: translateX(0); }
}

@keyframes welcomeOut {
    0% { transform: translateX(0); }
    30% { transform: translateX(3px); }
    100% { transform: translateX(-120%); }
}

@keyframes weatherUp {
    0% { transform: translateY(270px); }
    70% { transform: translateY(-3px); }
    100% { transform: translateY(0); }
}

@keyframes weatherDown {
    0% { transform: translateY(0); }
    30% { transform: translateY(-3px); }
    100% { transform: translateY(270px); }
}

@keyframes historyIn {
    0% { transform: translateY(-130%); }
    100% { transform: translateY(-3px); }
}

@keyframes historyOut {
    0% { transform: translateY(-3px); }
    100% { transform: translateY(-130%); }
}

@keyframes loadingUp {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes loadingDown {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes expandSettings {
    from { transform: scale(0); }
    to { transform: scale(1); }
}

@keyframes collapseSettings {
    from { transform: scale(1); }
    to { transform: scale(0); }
}

@keyframes rotateClockwise {
    from { transform: rotate(0deg); }
    to { transform: rotate(120deg); }
}

@keyframes rotateCounterclockwise {
    from { transform: rotate(120deg); }
    to { transform: rotate(0deg); }
}

@keyframes switchRight {
    from { transform: translateX(0); }
    to { transform: translateX(14px); }
}

@keyframes switchLeft {
    from { transform: translateX(14px); }
    to { transform: translateX(0); }
}

@keyframes rotateArrowUp {
    from { transform: rotate(-40deg); }
    to { transform: rotate(40deg); }
}

@keyframes rotateArrowDown {
    from { transform: rotate(40deg); }
    to { transform: rotate(-40deg); }
}