body, html {
    border: 0;
    margin: 0;
    background-color: #fff;
}

body {
    height: 100vh;
}

a {
    text-decoration: none !important;
}

p {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

input[type="text"] {
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    border: none;
    line-height: 45px;
    padding: 0 4px;
    width: calc(100% - 28px);
    font-size: 16px;
    width: calc(100% - 10px);
}

input:focus, button:focus {
    outline: none;
}

button {
    background: transparent;
    border: none;
}

.la-ball-scale-multiple, .la-ball-scale-multiple > div {
    color: #39796b;
    height: 100px;
    width: 100px;
}

.pac-container {
	margin-top: 0 !important;
	padding: 3px 6px 6px 6px !important;
    border-radius: 0 !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    box-shadow: 0 1px 9px -3px rgb(40, 40, 40) !important;
}

.pac-item:first-of-type {
    border-top: none !important;
}

.shade {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(20, 20, 20, 0.9);
}

.card {
    background-color: rgb(250, 250, 250);
    border-radius: 4px;
    box-shadow: 0 1px 6px rgb(20, 20, 20);
}

.weathercard {
    margin: 0 15px 12px;
    padding: 8px 14px 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 58px);
}

.weathercard > h3 {
    font-size: 18pt;
    color: #222;
    padding-top: 3px;
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.weathercard > p {
    padding-bottom: 4px;
}

.shade {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(50, 50, 50, 0.8);
}

.headerbutton {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 13px;
}

.headerbutton > i {
    color: rgb(70, 70, 70);
}

.headerbutton:active {
    background-color: #e4e4e4;
}

.content {
    display: flex;
    align-items: center;
    margin: 6px 0 18px;
    justify-content: space-between;
}

.expand {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 0 auto;
    padding: 15px 17px 12px;
    border-top: 1px solid rgb(215, 215, 215);
    width: calc(100% + 28px);
    position: relative;
    right: 14px;
}

.expand > h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
    font-weight: 700;
    color: #32665a;
    letter-spacing: 1px;
}

.hour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9px 6px 10px;
    margin: 0 4px;
    background-color: #32665a;
    border-radius: 5px;
}

.hour > p {
    color: white;
}

.hour > img, .day > img {
    padding: 24px 0;
    height: 45px;
}

.day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 250, 250);
    flex: 1;
    border-right: 1px solid rgb(215, 215, 215);
}

.day:first-of-type {
    padding: 9px 5px 10px 0;
}

.day:last-of-type {
    padding: 9px 0 10px 5px;
    border-right: none;
}

.day:not(:last-of-type):not(:first-of-type) {
    padding: 9px 5px 10px;
}

.day > p {
    color: #111;
}

.high, .low, .temp {
    font-size: 16pt;
}

.high {
    margin-bottom: 3px;
}

.high, #high {
    color: #7f0000 !important;
}

.low, #low {
    color: #002171 !important;
}

.detailcolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detailcolumn > p {
    font-size: 13pt;
    margin: 6px 0 15px;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 10pt !important;
    margin-bottom: 0 !important;
    height: 22px;
    padding: 0 12px;
    color: rgb(60, 60, 60);
    background-color: #e9e9e9;
    border-radius: 5px;
}

.historyitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  9px 12px;
    border-radius: 5px;
    width: calc(100% - 28px);
    background-color: #32665a;
    margin: 0 0 11px;
}

.historyitem > p {
    font-size: 12pt;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
}

.historyitem > i {
    font-size: 16pt;
    padding: 2px 7px;
    position: relative;
    left: 8px;
    color: #ddd;
}

.favorite {
    background-color: #23473e;
    color: black;
    margin: 0 0 7px;
}

.favorite > p {
    color: #eee;
}

.favorite > i {
    color: #d32f2f;
    padding: 2px 8px;
    position: relative;
    left: 8px;
}

.settingsheader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settingsheader:first-of-type {
    padding: 10px 0 4px;
}

.settingsheader:last-of-type {
    padding: 10px 0 0;
}

.settingsheader > h2 {
    font-size: 18pt;
    text-align: left;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.settingsheader > i {
    font-size: 16pt;
    color: #eee;
    padding: 8px;
    position: relative;
    left: 4px;
}

.settingsitem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 21px 0;
    width: 100%;
}

.settingsitem:first-of-type {
    border-bottom: 1px solid rgb(215, 215, 215);
}

.settingsitem > p {
    color: black;
    font-size: 13pt;
}

.settingstogglebackground {
    height: 14px;
    width: 32px;
    background-color: rgb(180, 180, 180);
    position: relative;
    border-radius: 7px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settingsswitch {
    height: 20px;
    width: 20px;
    background-color: #eee;
    position: relative;
    right: 7px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgb(40, 40, 40);
    transform: translateX(0);
}

.arrowpart {
    height: 3px;
    width: 14px;
    background-color: white;
    position: relative;
    transition: transform .3s ease;
}

.leftarrowdown {
    transform: rotate(40deg) !important;
}

.rightarrowdown {
    transform: rotate(-40deg) !important;
}

#headerarrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

#leftarrow {
    transform: rotate(-40deg);
    left: 3px;
}

#rightarrow {
    transform: rotate(40deg);
    right: 2px;
}

#map {
    height: 100vh;
    width: 100%;
    opacity: 0;
    animation: fadeIn .6s ease forwards;
    position: fixed !important;
}

#welcomecard {
    position: fixed;
    bottom: 0;
    padding: 16px 15px 21px;
    margin: 0;
    transform: translateY(500px);
    z-index: 12;
    box-shadow: 0 -4px 8px -4px rgb(20, 20, 20);
    background-color: rgba(20, 20, 20, 0.9);
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

#welcomecard > p {
    font-size: 12pt;
    color: white;
}

#welcomecard > h3 {
    text-align: left;
    font-size: 14pt;
    padding-bottom: 6px;
}

#welcomeheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1px;
    margin-bottom: 5px;
}

#welcomeheader > h3 {
    font-size: 22pt;
    font-weight: bold;
    color: white;
}

#header {
    width: 100%;
    margin: 0;
    padding: 0 0 10px;
    position: fixed;
    top: 0;
    z-index: 15;
}

#headercontent {
    border-radius: 7px;
    box-shadow: 0 1px 4px rgb(40, 40, 40);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 0;
    background-color: rgb(250, 250, 250);
    height: 45px;
}

#historycard {
    width: 100%;
    padding: 57px 0 0;
    margin: 0;
    background-color: #39796b;
    position: fixed;
    box-shadow: 0 1px 8px rgb(40, 40, 40);
    z-index: 14;
    overflow-y: auto;
    overflow-x: hidden;
    transform: translateY(-130%);
    max-height: 325px;
    display: none;
    border-radius: 0 0 12px 12px;
}

#historycontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 30px);
    padding: 0 15px 6px;
}

#historycontent > h2 {
    font-size: 20pt;
    align-self: flex-start;
    padding: 8px 0 4px;
}

#search {
    width: 100%;
}

#history {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

#locate {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

#weather {
    display: none;
    position: absolute;
    top: 55vh;
    padding: 9px 0 0;
    width: 100%;
    transform: translateY(270px);
    z-index: 12;
}

#weatherbg > a {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    padding: 0 0 12px;
    color: white !important;
    position: relative;
    z-index: 12;
}

#weatherbg > a > p {
    font-size: 10pt;
}

#weatherbg {
    background-color: rgba(20, 20, 20, 0.9);
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    padding: 6px 0 3px;
}

#weatherheader {
    width: calc(100% - 28px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: rgba(20, 20, 20, 0.9);
    opacity: 1;
    right: 8px;
    z-index: 15;
    padding: 15px 14px 9px;
    border-radius: 13px 13px 0 0;
    box-shadow: 0 -4px 8px -4px rgb(20, 20, 20);
}

#weatherheader > div {
    position: relative;
    left: 5px;
}

#current, #hourly, #daily, #weather > a {
    position: relative;
}

#current {
    z-index: 13;
}

#currentcontent {
    justify-content: center;
    margin: 0;
    padding: 30px 14px 37px;
    width: 100%;
    position: relative;
    right: 14px;
}

#hourly {
    z-index: 11;
    overflow: hidden;
    background-color: #39796b;
}

#hourly > p, #hourly > h3 {
    color: white;
}

#hourlycontent {
    justify-content: initial;
    padding: 0 0 14px;
    margin: 10px 0 0;
    width: 100%;
    position: relative;
    transition: transform .2s ease;
    overflow-x: auto;
}

#daily {
    z-index: 12;
}

#currentcontent > img {
    height: 90px;
    padding-right: 25px;
}

#currentcontent > h2 {
    padding-right: 10px;
    font-size: 25pt;
}

#details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    top: -6px;
}

#details > p {
    font-size: 14pt;
}

#temps {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

#currenttemp {
    font-size: 28pt;
    border-right: 1px solid rgb(215, 215, 215);
    padding-right: 12px;
}

#highlow {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
}

#highlow > p {
    font-size: 14pt; 
}

#conditions {
    position: relative;
    top: 5px;
}

#desktopshade {
    display: none;
}

#currentcontenthidden {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease;
}

#currentcontenthidden {
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0 8px;
    width: calc(100% + 12px);
    position: relative;
    right: 14px;
}

#dailycontent {
    margin-top: 10px;
    margin-bottom: 12px;
    justify-content: stretch;
}

#mobileshade {
    opacity: 0;
    z-index: 11;
    pointer-events: none;
    overflow: hidden;
}

#menushade {
    display: none;
    opacity: 0;
    z-index: 13;
    background-color: rgba(20, 20, 20, 0.8);
}

#locationname {
    color: white;
    font-size: 28pt;
    padding: 0;
    font-weight: bold;
}

#locationhistory {
    width: 100%;
}

#clearhistory {
    font-size: 22pt;
}

#defaultlocation {
    width: 100%;
}

#defaultinstructions, #emptyhistory {
    font-size: 12pt;
    color: white;
}

#emptyhistory {
    padding-bottom: 10px;
}

#loadingcard {
    z-index: 5;
    position: fixed;
    top: 70vh;
    left: 50%;
    height: 100px;
    width: 100px;
    display: none;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%) translateY(-50%);
    padding: 8px 0;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    opacity: 0;
    pointer-events: none;
}

#settings {
    position: fixed;
    top: 71px;
    right: 47px;
    height: 77px;
    width: 167px;
    background-color: rgb(250, 250, 250);
    filter: drop-shadow(0 1px 3px rgb(40, 40, 40));
    border-radius: 3px;
    padding: 8px 16px;
    transform: scale(0);
    transform-origin: right 15%;
    overflow: visible;
    will-change: transform;
}

#settingscontent {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#settingscontent > h2 {
    margin-right: auto;
    color: black;
    padding-bottom: 4px;
}

#settingsarrow {
    background-color: #eee;
    height: 13px;
    width: 13px;
    position: absolute;
    top: 7px;
    right: -4px;
    transform: rotate(45deg);
    border-radius: 2px;
}

#radarcontrol {
    background-color: rgba(20, 20, 20, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100px;
    position: fixed;
    top: 70px;
    left: 12px;
    border-radius: 20px;
    box-shadow: 0 1px 6px rgb(40, 40, 40);
    z-index: 8;
    padding: 0 10px;
}

#radarcontrol:active {
    background-color: rgba(20, 20, 20, 0.9);
}

#radarcontrol > p {
    color: white;
    margin: 0 auto;
    font-size: 10pt;
    letter-spacing: 0.8px;
}

#radarcontrol > i {
    color: white;
    font-size: 24px;
}

#alertsbutton {
    background-color: rgb(211, 47, 47);
    display: none;
    height: 40px;
    width: 40px;
    padding: 8px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgb(40, 40, 40);
    z-index: 8;
}

#alertsbutton:active {
    background-color: rgb(160, 25, 25);
}

#alertsbutton > p {
    font-size: 16pt;
    color: white;
}

#alertscard {
    display: flex;
    background-color: rgb(250, 250, 250);
    padding: 0;
    position: absolute;
    right: 25px;
    top: 70px;
    width: calc(100% - 50px);
    border-radius: 3px;
    filter: drop-shadow(0 1px 3px rgb(40, 40, 40));
    z-index: 14;
    overflow: visible;
    transform: scale(0);
    transform-origin: 95% top;
    max-height: 250px;
}

#alertshidden {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: inherit;
    width: 100%;
}

#alertstitle {
    padding: 7px 12px 5px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 0 6px rgb(110, 110, 110);
    background-color: #d32f2f;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: white;
}

#alertscontent {
    flex-grow: 1;
    overflow-y: auto;
    height: inherit;
    padding: 8px 12px;
}

#alertsarrow {
    position: absolute;
    right: 10px;
    top: -9px;
    height: 0;
    width: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 10px solid #d32f2f;
}

@media only screen and (min-width: 500px) {
    .weathercard {
        margin: 0 10% 12px;
        width: calc(80% - 28px);
    }
}

@media only screen and (min-width: 650px) {
    .weathercard {
        margin: 0 20% 12px;
        width: calc(60% - 28px);
    }
}

@media only screen and (min-width: 1000px) {

    input[type="text"] {
        line-height: 40px;
    }

    .expand {
        width: calc(100% + 48px);
        right: 24px;
        padding: 15px 17px 14px;
    }

    .button:hover {
        cursor: pointer;
    }

    .weathercard {
        padding: 10px 24px 0;
        width: calc(100% - 48px);
    }

    .weathercard > h3 {
        font-size: 22pt;
    }

    #defaultinstructions, .historyitem > p {
        font-size: 12pt;
    }

    .historyitem:hover {
        cursor: pointer;
    }

    .headerbutton {
        width: 45px;
        height: 40px;
    }

    .settingsheader > h2 {
        font-size: 20pt;
    }

    .settingsheader > i:hover {
        cursor: pointer;
    }

    .settingstoggle:hover {
        cursor: pointer;
    }

    #current, #hourly, #daily {
        margin: 0 0 12px;
    }

    #currentcontenthidden {
        width: calc(100% + 48px);
        right: 24px;
    }

    #map {
        top: 0;
    }

    #weatherbg {
        background-color: transparent;
    }
    
    #weatherheader {
        background-color: transparent;
        border-radius: 0;
        position: relative;
        right: 0;
        padding: 0;
        box-shadow: none;
    }

    #weather {
        width: 35%;
        bottom: auto;
        min-height: calc(100vh - 20px);
        top: 0;
        transform: translateY(0) translateX(-120%);
        padding: 20px 25px 0 28px;
        background-color: rgba(20, 20, 20, 0.9);
        box-shadow: 6px 0 8px -6px rgb(43, 43, 43);
        border-radius: 0;
        opacity: 1;
    }

    #weatherbg > div:not(:last-of-type) {
        transform: translateX(-120%);
    }

    #headerarrow {
        display: none;
    }

    #header {
        width: 45%;
        position: fixed;
        right: calc(10% - 25px);
        margin-right: 0;
    }

    #headercontent {
        height: 40px;
        margin: 10px 25px 0;
    }

    #historycard {
        width: 45%;
        position: fixed;
        right: calc(10% - 25px);
        max-height: 340px;
    }

    #historycontent {
        padding: 0 30px 6px;
        width: calc(100% - 60px);
    }

    #welcomecard {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        bottom: inherit;
        top: 0;
        padding: 200px 25px 0 28px;
        margin: 0;
        height: 100vh;
        width: 35%;
        transform: translateX(-120%);
        box-shadow: 6px 0 8px -6px rgb(43, 43, 43);
        border-radius: 0;
    }

    #welcomecard > p {
        font-size: 14pt;
    }

    #welcomeheader > h3 {
        font-size: 32pt;
    }

    #mobileshade {
        display: none;
    }

    #menushade {
        display: none !important;
    }

    #locationname {
        font-size: 34pt;
        padding-top: 0;
        padding-bottom: 13px;
    }
 
    #settings {
        right: 61px;
    }

    #loadingcard {
        top: 50vh;
        left: 17%;
        transform: translateY(-50%);
    }

    #radarcontrol {
        height: 44px;
        width: 120px;
        position: fixed;
        top: auto;
        bottom: 40px;
        right: 40px;
        left: auto;
        border-radius: 23px;
        box-shadow: 0 1px 8px rgb(40, 40, 40);
    }

    #radarcontrol > p {
        font-size: 12pt;
    }

    #radarcontrol > i {
        font-size: 23pt;
    }

    #alertsbutton {
        height: 50px;
        width: 50px;
        border-radius: 25px;
    }

    #alertsbutton > p {
        top: 0;
        font-size: 20pt;
    }

    #alertscard {
        top: 90px;
        right: 10px;
        width: calc(100% - 20px);
        transform-origin: 93% top;
    }

    #alertsarrow {
        right: 16px;
    } 
}

@media only screen and (min-width: 1450px) {
    #weather {
        width: 25%;
    }

    #header {
        width: 38%;
        position: fixed;
        right: calc(17% - 25px);
        margin-right: 0;
    }

    #current, #hourly, #daily {
        margin: 0 0 18px;
    }

    #currentcontent {
        padding: 40px 14px 47px;
    }

    #hourlycontent {
        padding: 6px 0 20px;
    }
}

@media only screen and (max-width: 350px) {
    .day > img {
        height: 40px;
    }
}