body, html {
    border: 0;
    margin: 0;
    background-color: #fff;
}

a {
    text-decoration: none !important;
}

p {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Archivo Narrow', sans-serif;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: 'Archivo Narrow', sans-serif;
    margin: 0;
    padding: 0;
}

input[type="text"] {
    font-family: 'Lato', sans-serif;
    background-color: transparent;
    border: none;
    line-height: 40px;
    padding: 0 14px;
    width: calc(100% - 28px);
    font-size: 16px;
}

input:focus, button:focus {
    outline: none;
}

button {
    background: transparent;
    border: none;
}

.pac-container {
	margin-top: 0 !important;
	padding: 3px 6px 6px 6px !important;
    border-radius: 0 !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
	box-shadow: 0 1px 9px -3px rgb(40, 40, 40) !important;
}

.pac-item:first-of-type {
    border-top: none !important;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 9px rgb(40, 40, 40);
}

.weathercard {
    margin-bottom: 15px;
    padding: 8px 14px 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 28px);
}

.weathercard > h3 {
    font-size: 20pt;
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(215, 215, 215);
}

.shade {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(50, 50, 50, 0.8);
}

.headerbutton {
    width: 40px;
    height: 40px;
    background-color: #39796b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 13px;
}

.headerbutton > i {
    color: rgb(190, 216, 212);
}

.headerbutton:active {
    background-color: #295f53;
}

.content {
    display: flex;
    align-items: center;
    margin: 18px 0;
    justify-content: space-between;
}

.expand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px 0 auto;
    padding: 0 7px 0 17px;
    background-color: #39796b;
    height: 32px;
    border-radius: 16px;
}

.expand > h3 {
    font-family: 'Lato', sans-serif;
    font-size: 13pt;
    font-weight: 200;
    color: white;
    padding-right: 8px;
}

.expand > i {
    font-size: 19pt;
    color: white;
}

.hour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9px 5px 10px;
}

.high, .low, .temp {
    font-size: 16pt;
}

.high {
    margin-bottom: 3px;
}

.hour:nth-child(even) {
    background-color: #e9e9e9;
    border-radius: 5px;
}

.detailcolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.detailcolumn > p {
    font-size: 14pt;
    margin: 6px 0 14px;
}

.label {
    font-weight: bold;
    font-size: 11pt !important;
    margin-bottom: 0 !important;
    padding: 0 3px 2px;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.hour > img {
    padding: 24px 0;
    height: 50px;
}

#map {
    height: 100vh;
    width: 100%;
    opacity: 0;
    animation: fadeIn .6s ease forwards;
    position: fixed !important;
}

#welcomecard {
    position: fixed;
    bottom: 15px;
    padding: 12px 15px 18px;
    margin: 0 15px;
    transform: translateY(500px);
    animation: welcomeUp .6s ease .3s forwards;
    z-index: 12;
}

#welcomecard > p {
    font-size: 11pt;
}

#welcomecard > h3 {
    text-align: left;
    font-size: 13pt;
    padding-bottom: 6px;
}

#bottomgradient {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(transparent, rgb(20, 20, 20));
    opacity: 0;
    animation: fadeIn .6s ease forwards;
    z-index: 11;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 30px);
    padding: 0;
    margin: 15px 15px 0;
    height: 40px;
    background-color: white;
    position: fixed;
    top: 0;
    border-radius: 7px;
    box-shadow: 0 1px 9px rgb(40, 40, 40);
    z-index: 10;
}

#search {
    width: 100%;
}

#history {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#locate {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#welcomeheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
}

#welcomeheader > i {
    font-size: 16pt;
    color: rgb(78, 78, 78);
    position: relative;
    left: 4px;
}

#welcomeheader > h3 {
    font-size: 18pt;
}

#weather {
    display: none;
    position: absolute;
    bottom: -760px;
    padding: 0 15px;
    width: calc(100% - 30px);
    transform: translateY(270px);
    z-index: 12;
}

#weather > a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
    color: white !important;
}

#currentcontent {
    justify-content: flex-start;
    margin: 0 10px 0;
    padding: 35px 0 26px;
}

#currentcontent > img {
    height: 90px;
    padding-right: 30px;
}

#currentcontent > h2 {
    padding-right: 10px;
    font-size: 25pt;
}

#details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    top: -6px;
}

#details > p {
    font-size: 14pt;
}

#temps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#currenttemp {
    font-size: 28pt;
    border-right: 1px solid rgb(215, 215, 215);
    padding-right: 12px;
}

#highlow {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
}

#highlow > p {
    font-size: 14pt; 
}

#conditions {
    position: relative;
    top: 5px;
}

#desktopshade {
    display: none;
}

#currentcontenthidden {
    flex-direction: row;
    justify-content: space-around;
    margin: 5px 0 14px;
    padding: 13px 0 7px;
    display: none;
    background-color: #e9e9e9;
    width: calc(100% + 28px);
    position: relative;
    right: 14px;
}

#hourlycontenthidden {
    flex-direction: row;
    margin-top: 0;
    display: none;
}

#hourlycontenthidden > .hour:nth-child(even) {
    background-color: white;
    border-radius: none;
}

#hourlycontenthidden > .hour:nth-child(odd) {
    background-color: #e9e9e9;
    border-radius: 5px;
}

#dailycontent {
    margin-bottom: 4px;
}

#mobileshade {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(20, 20, 20, 0.9);
    z-index: 11;
}

@media only screen and (min-width: 768px) {

    .button:hover {
        cursor: pointer;
    }

    #map {
        top: 0;
    }

    #weather {
        width: 35%;
        bottom: initial;
        top: 15px;
        transform: translateY(0);
    }

    #weather > div {
        transform: translateX(-120%);
    }

    #header {
        width: 45%;
        position: fixed;
        left: calc(45% + 15px);
    }

    #welcomecard {
        position: fixed;
        bottom: inherit;
        top: 15px;
        padding: 12px 15px 18px;
        margin: 0 15px;
        width: calc(35% - 30px);
        transform: translateX(-120%);
        animation: none;
        animation: welcomeIn .5s ease .5s forwards;
    }

    #topgradient, #bottomgradient {
        display: none;
    }

    #desktopshade {
        display: block;
        width: 35%;
        padding: 0 15px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: rgba(50, 50, 50, 0.5);
    }

    #mobileshade {
        display: none;
    }
}